* {
	margin: 0;
	padding: 0;
}

body {
	font: normal normal normal 14px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#game {
	margin: 0 auto;
	border-collapse: collapse;
}

.stand_wrapper {
	background: #DCC7AA;
	background-image: url('res/wood.png');
	padding: 16px;
	border: #777 solid 1px;
}
#white_komadai, #black_komadai {
	width:116px;
	height:232px;
	position: relative;
}

#board_wrapper {
	background: #DCC7AA;
	background-image: url('res/wood.png');
	border: #777 solid 1px;
}
#board {
	background: url(res/board.svg) transparent;
	width:555px;
	height:555px;
	position: relative;
}

#white_piece_stand {
	padding-right: 16px;
	vertical-align: top;
}
#black_piece_stand {
	padding-left: 16px;
	vertical-align: bottom;
}