* {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

body{
	font: normal normal normal 16px/1 "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #000;
	background: #fff;
}

#wrap {
	width: fit-content;
	margin: 0 auto;
}

#top_options {
	margin: 0.8rem 0;
	display: flex;
	flex-direction: row;
}
#top_options #loading_area {
	text-align: left;
	flex:1;
	visibility: hidden;
}
#top_options #undo_area {
	text-align: right;
	flex: 1;
}
#top_options h1 {
	font-size: 1.1rem;
	text-align: center;
}

#game {
	margin: 0 auto;
	border-collapse: collapse;
}

.stand_wrapper {
	background: #DCC7AA;
	background-image: url('res/wood.png');
	padding: 16px;
	border: 1px solid #777;
    box-shadow: rgba(0, 0, 0, 0.3) 0.5px 1px 2px;
}
#white_komadai, #black_komadai {
	width:116px;
	height:232px;
	position: relative;
}

#board_wrapper {
	background: #DCC7AA;
	background-image: url('res/wood.png');
	border: 1px solid #777;
    box-shadow: rgba(0, 0, 0, 0.3) 0.5px 1px 2px;
}
#board {
	background: url(res/board.svg) transparent;
	width:555px;
	height:555px;
	position: relative;
}
.piece_wrap {
	filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8));
}

#white_piece_stand {
	padding-right: 16px;
	vertical-align: top;
}
#black_piece_stand {
	padding-left: 16px;
	vertical-align: bottom;
}

#bottom_options {
	font-size: 14px;
	margin-top: 1.2rem;
	line-height: 1.4rem;
	text-align: right;
}

#skill_change {
	margin-bottom: 0.65rem;
}